button {
  cursor: pointer;
  border: 0.2rem solid #776871;
  color: #776871;
  background-color: transparent;
  width: 8rem;
  height: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.5em;
  border-radius: 20px;
  &:hover {
    background-color: #776871;
    color: #ebf1e9;
  }
}
